

#About {
  padding: 50px 0;
}

#about-img {
  height: 250px;
  border-radius: 50%;
  padding: 5px; 
}

#about-content .list-inline {
    display: none;
}
@media only screen and (min-width: 1200px) {
  #about-content .list-inline {
      display: block;
  }
}

@media only screen and (min-width: 1200px) {
    #about-img {
    margin-top: 10%;
    height: 355px;
    border-radius: 50%;
  }
}


.circle {
  position: absolute;
  background-color: #568f99;
  height: 450px;
  width: 450px;
  top: 75px;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  right: 300px;
  border-style: solid;
  border-width: 300px 150px 0 150px;
  border-color: #568f99 transparent transparent transparent;

}


#About:after {
  	background: inherit;
  	bottom: 0;
  	content: '';
  	display: block;
  	height: 50%;
  	left: 0;
  	position: absolute;
  	right: 0;
  	transform: skewY(3.0deg);
  	transform-origin: 0 100%;
  	z-index: -1;
}

