ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0; 
}

.nav-tabs>li {
	width: 100%;
}

.nav-tabs>li>a {
	width: 100%;
	color: #3e444d;
	vertical-align: middle; 
	background-color: white;
	border: 1px solid #ced7e0;
	text-transform: uppercase;
}

.nav-tabs>li>a>h3 { 
	font-size: 13px;
	margin: 0;
}

.nav-tabs>li>a>p {
	display: inline-block;
	font-size: 13px; 
	margin: 0;
}

@media (min-width: 992px) {


}
